.bg-texture-1 {
  background: linear-gradient(
    to bottom,
    #{fade-out($white, 0.9)} 0%,
    #{fade-out($white, 0.9)} 100%
  );
  background-repeat: repeat !important;
  background-size: 50px 50px !important;
  width: 100% !important;
  opacity: 1 !important;
}

.img-drop-shadow {
  img {
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5)) !important;
  }
}

.neg-margin-top {
  margin-top: -170px !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  padding-bottom: 3em !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  position: relative;
}

@include media-breakpoint-up(md) {
  .neg-margin-top {
    margin-top: -170px !important;
    padding-bottom: 3em !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    position: relative;
  }
}
