.bg-img-services {
  background: linear-gradient(
    to bottom,
    #{fade-out($purple, 0.1)} 0%,
    #{fade-out($purple, 0.1)} 100%
  );
  background-position: top;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  opacity: 1 !important;

  @include media-breakpoint-up(md) {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

.bg-purple-to-gray {
  background-color: $lightGray;
  strong {
    color: #212529;
  }

  @include media-breakpoint-up(md) {
    background-color: $purple;
    strong {
      color: white;
    }
  }
}

.bg-gray-to-purple {
  background-color: $purple;
  strong {
    color: white;
  }

  @include media-breakpoint-up(md) {
    background-color: $lightGray;
    strong {
      color: #212529;
    }
  }
}
