.bg-img-home {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background: linear-gradient(
    to bottom,
    #{fade-out($purple, 0.1)} 0%,
    #{fade-out($purple, 0.1)} 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1 !important;
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2.25rem;
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3.5rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .bg-img-home {
    padding-bottom: calc(11rem - #{$navbar-height});
  }
}
