// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
  color: fade-out($white, 0.25);
}

.text-purple {
  color: $purple !important;
  a {
    color: $purple !important;
  }
}

.bg-purple {
  background-color: $purple;
}

.bg-dark-blue {
  background-color: $darkBlue;
}

.bg-light-gray {
  background-color: $lightGray;
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.divider-long {
  max-width: 25vw;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $secondary;
  width: 16rem;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}

// Modal
.modal-backdrop {
  background-color: #0b0b0b;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.drop-shadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.drop-shadow-dark {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}

.svg-size {
  width: 100%;
  height: 100%;
}

.bg-texture-1 {
  background-color: $white;
  background-image: url('../images/textures/gradient-squares.png');
  width: 100%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.bg-texture-2 {
  background-color: $white;
  background-image: url('../images/textures/brilliant.png');
  width: 100%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.bg-texture-3 {
  background-color: $white;
  background-image: url('https://www.transparenttextures.com/patterns/diamond-eyes.png');
  width: 100%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.clip-triangle-down {
  clip-path: polygon(0 90%, 0 0, 500% 0, 50vw 100%);
}

.bg-img {
  background-position: top;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;

  @include media-breakpoint-up(md) {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

@include media-breakpoint-up(lg) {
  hr.light {
    width: 12rem;
  }
}

@include media-breakpoint-up(md) {
  .neg-margin-top {
    margin-top: -170px !important;
    padding-bottom: 3em !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    position: relative;
  }
}

@media screen and (max-width: 372px) {
  .hide-xs {
    margin: 0 !important;
    a {
      display: none;
    }
  }
}
