// Variables

// Color overrides

// Set a custom color
$green: #baff29 !default;
$teal: #62c6c3;
$blueIce: #c2e7da;
$greenFlower: #f1ffe7;
$purple: #1a1b41 !default;
$darkBlue: #011627;
$lightGray: #e8e8e8;

// Set primary color to green
$primary: $green !default;
$secondary: $teal !default;

// Font overrides
$font-family-sans-serif: 'Merriweather Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-serif: 'Merriweather', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;

$enable-responsive-font-sizes: true;
$enable-shadows: true;
