.bg-img-full-service-seo {
  background: linear-gradient(
    to bottom,
    #{fade-out(#343a40, 0.1)} 0%,
    #{fade-out(#343a40, 0.1)} 100%
  ) !important;
  background-position: center !important;
  background-repeat: repeat !important;
  background-attachment: scroll !important;
  background-size: inherit !important;
  opacity: 1 !important;

  @include media-breakpoint-up(md) {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
  }
}

.bg-img-website-only {
  background: linear-gradient(
    to bottom,
    #{fade-out(#343a40, 0.1)} 0%,
    #{fade-out(#343a40, 0.1)} 100%
  ) !important;
  background-position: center !important;
  background-repeat: repeat !important;
  background-attachment: scroll !important;
  background-size: inherit !important;
  opacity: 1 !important;

  @include media-breakpoint-up(md) {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
  }
}
