// Base styling for the navbar
#mainNav {
  box-shadow: $box-shadow;
  background-color: $purple;
  transition: background-color 0.2s ease;
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    color: $secondary;
    &:active,
    &:hover {
      color: $primary;
    }
  }

  // .navbar-toggler {
  //   outline: none;
  //   background: $primary;
  //   &:active,
  //   &:hover {
  //     background: $primary;
  //   }
  // }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }

  .navbar-toggler span {
    display: block;
    background-color: $primary;
    height: 3px;
    width: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    right: 0;
    opacity: 1;
  }

  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    right: 28px;
    top: 30px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    right: 28px;
    top: 30px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
  }

  .navbar-toggler-icon {
    color: $white;
    content: '' !important;
    &:active,
    &:hover {
      color: $primary;
    }
  }

  .navbar-nav {
    .nav-item {
      &.active {
        .nav-link {
          color: $primary !important;
        }
      }

      .nav-link {
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        font-size: 1.5rem;
        text-align: center;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: $primary;
        }
        &::after {
          content: ''; /* This is necessary for the pseudo element to work. */
          display: block; /* This will put the pseudo element on its own line. */
          margin: 0 auto; /* This will center the border. */
          width: 50%; /* Change this to whatever width you want. */
          padding-top: 20px; /* This creates some space between the element and the border. */
          border-bottom: 1px solid $primary; /* This creates the border. Replace black with whatever color you want. */
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: transparent;
    .navbar-brand {
      color: $secondary;
      font-size: 1.5em;
      &:active,
      &:hover {
        color: $primary;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
          padding: 0 1rem;
          font-size: 1rem;
          &:hover {
            color: $primary;
          }
          &::after {
            content: none; /* This is necessary for the pseudo element to work. */
            display: block; /* This will put the pseudo element on its own line. */
            margin: 0; /* This will center the border. */
            width: 50%; /* Change this to whatever width you want. */
            padding-top: 0; /* This creates some space between the element and the border. */
            border-bottom: none; /* This creates the border. Replace black with whatever color you want. */
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  // Navbar styling applied when the page is scrolled
  .site-container.navbar-scrolled #mainNav {
    box-shadow: $box-shadow;
    background-color: $purple;
    .navbar-brand {
      color: $secondary;
      &:active,
      &:hover {
        color: $primary;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
