.bg-img-full-service-seo {
  background: linear-gradient(
    to bottom,
    #{fade-out($purple, 0.1)} 0%,
    #{fade-out($purple, 0.1)} 100%
  );
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1 !important;

  @include media-breakpoint-up(md) {
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}
